---
import Calendar from "../components/Calendar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Calendario de Advento 2024 🎄">
  <Calendar title="🎄Calendario de Advento 2024🎄" />
  <footer>
    <p>© 2024</p>
    <p>
      Hecho con ❤️ por <a href="https://github.com/DarielsMtz">DarielsMtz</a>
    </p>
  </footer>
</Layout>

<style>
  footer {
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
</style>
